@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#FestivalDatilSwiper .swiper-pagination-bullet-active {
  background-color: #000000;
  opacitiy: "40%";
}

#FestivalDatilSwiper .swiper-pagination-bullet-active {
  background-color: #8478ff;
}

.TabsTrigger[data-state="active"] {
  color: #8478ff;

  border-bottom: 2px #8478ff solid;
}
